<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menulogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/absen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".daftarnama"></activity>
        <activity android:name=".input_ziyadah" />
        <activity android:name=".daftarSinglePlp" />
        <activity android:name=".daftarkelas" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".registrasi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>